*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-image: url(./assets/background-5594879_1920.jpg);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    align-self: center; 
    align-content: center;
    color: aliceblue;
    }

.container{
    text-align: center;
    border: 1px solid green;
    min-width: 500px;
    min-height: 300px;
    border-radius: 20px;
    line-height: 30px;
    background-color: transparent;
    backdrop-filter: blur(4px);
    
 }

   header {
    margin-top: 30px;
    margin-bottom: 13px;
   }

   button{
   width: 75px;
   height: 30px;
   border-radius: 5px;
   border: .5px solid;
   text-align: center;
   margin-top: 15px;
   margin-bottom: 15px;
   }

   .res{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }